

html, body {
    font-family: monospace;
    position:relative;
    padding-top:20px;
    padding-left:0;
    padding-right:0;
}

.page-name{
    position:fixed;
    top:0; left:0;
    width:100%;
    background-color: maroon;
    border:none;
    color:white;
    padding:10px;
    font-size:18px;
}

.timer-container {
    display: none;
    border: 2px solid maroon;
    color: maroon;
    width: 400px;
    float: left;
    padding:5px;
    margin-left: 10px;
    margin-top: 18px;
    margin-right:8px;
}