
@using TimerToysShared.Model
@using TimerToysWasm.Model

@inject HttpClient Http

<div class="timer-container " style="display:@displayStyle;">

    <input class="timer-name"
           @bind="timerName"
           @onclick="TimerNameClicked"
           tabindex="-1"
           onfocus="this.select();" />


    <input class="elapsed-time"
           @bind="elapsedTimeString"
           @onclick="ElapsedTimeClicked"
           tabindex="-1"
           onfocus="this.select()" />

    <button class="delete-button" @onclick="DeleteButtonClicked" tabindex="-1">X</button>
    <button class="timer-button btn1" @onclick="Button1Pressed">@button1Text</button>
    <button class="timer-button btn2" @onclick="Button2Pressed">@button2Text</button>

</div>

@code {


    public Timer myTimer = new Timer();
    public bool IsTimerSet
    {
        get { return ! string.IsNullOrWhiteSpace(myTimer.TimerKey); }
    }

    private string displayStyle = "none";
    private bool isPaused;
    private string button1Text;
    private string button2Text;
    private UpdateTarget updateTarget;

    private string timerName { get; set; }
    private string elapsedTimeString { get; set; }

    private string stringifyElapsedTime(int seconds)
    {

        int sec = seconds;
        int hrs = sec / 3600;

        sec -= (hrs * 3600);

        int min = sec / 60;

        sec -= (min * 60);

        return string.Format("{0:00}:{1:00}:{2:00}", hrs, min, sec);

    }

    private void TimerNameClicked()
    {
        updateTarget = UpdateTarget.TimerName;
        button1Text = "SAVE";
        button2Text = "CANCEL";
    }

    private void ElapsedTimeClicked()
    {
        PauseTimer();
        updateTarget = UpdateTarget.ElapsedTime;
        button1Text = "SAVE";
        button2Text = "CANCEL";
    }

    private void DeleteButtonClicked()
    {
        updateTarget = UpdateTarget.DeleteButton;
        button1Text = "DELETE";
        button2Text = "CANCEL";
    }

    private void Button1Pressed()
    {

        if (updateTarget == UpdateTarget.TimerStopStart)
        {
            //button 1 is START
            if (!myTimer.IsRunning) ToggleTimer();

        }

        else if (updateTarget == UpdateTarget.ElapsedTime)
        {
            if (string.IsNullOrWhiteSpace(elapsedTimeString))
            {
                DisplayTimer();
            }

            int? seconds = getSeconds(elapsedTimeString);

            if (seconds.HasValue)
            {
                AdjustTimer(seconds.Value);
            }
            else
            {
                DisplayTimer();
            }

        }

        else if (updateTarget == UpdateTarget.TimerName)
        {
            if (!string.IsNullOrWhiteSpace(timerName))
            {
                myTimer.TimerDescription = timerName;
                Http.PostAsJsonAsync("UpdateTimerName", myTimer);
            }

            DisplayTimer();

        }

        else if (updateTarget == UpdateTarget.DeleteButton)
        {
            myTimer.TimerDescription = timerName;
            Http.PostAsJsonAsync("DeleteTimer", myTimer);
            displayStyle = "none";
            myTimer = new Timer();
        }

    }

    private void Button2Pressed()
    {

        if (updateTarget == UpdateTarget.TimerStopStart)
        {
            //button 2 is STOP
            if (myTimer.IsRunning) ToggleTimer();
        }

        else if (updateTarget == UpdateTarget.ElapsedTime)
        {
            DisplayTimer();
        }

        else if (updateTarget == UpdateTarget.TimerName)
        {
            DisplayTimer();
        }

        else if (updateTarget == UpdateTarget.DeleteButton)
        {
            DisplayTimer();
        }

    }

    private void PauseTimer() { isPaused = true; }

    private void ResumeTimer() { isPaused = false; }

    private async void ToggleTimer()
    {
        string apiName = string.Format("ToggleTimer/{0}", myTimer.TimerKey);
        Timer tmr = await Http.GetFromJsonAsync<Timer>(apiName);
        SetTimer(tmr);
    }

    private async void AdjustTimer(int seconds)
    {
        myTimer.ElapsedTime = seconds;
        var response = await Http.PostAsJsonAsync("AdjustTimer", myTimer);
        Timer tmr = await response.Content.ReadFromJsonAsync<Timer>();
        SetTimer(tmr);
    }

    private int? getSeconds(string secondsString)
    {
        int? seconds = new int?();

        secondsString = secondsString.Replace(".", ":");
        var arr = secondsString.Split(":");

        if (arr.Length > 3)
        {
            return seconds;
        }

        if (arr.Length == 1)
        {
            seconds = getSeconds(arr[0], 1);
        }

        if (arr.Length == 2)
        {
            seconds = getSeconds(arr[0], 60);
            seconds += getSeconds(arr[1], 1);
        }

        if (arr.Length == 3)
        {
            seconds = getSeconds(arr[0], 3600);
            seconds += getSeconds(arr[1], 60);
            seconds += getSeconds(arr[2], 1);
        }

        return seconds;
    }

    private int getSeconds(string seg, int offset)
    {
        int segInt = 0;
        if (int.TryParse(seg, out segInt)) return segInt * offset;
        return 0;
    }

    private void DisplayTimer()
    {
        timerName = myTimer.TimerDescription;
        elapsedTimeString = stringifyElapsedTime(myTimer.ElapsedTime);
        displayStyle = "block";
        button1Text = "START";
        button2Text = "STOP";
        updateTarget = UpdateTarget.TimerStopStart;
        ResumeTimer();
        StateHasChanged();
    }

    public void SetTimer(Timer timer)
    {
        this.myTimer = timer;
        DisplayTimer();
    }

    public void Tick()
    {
        if (myTimer.IsRunning)
        {
            myTimer.ElapsedTime++;
            if (!isPaused)
            {
                elapsedTimeString = stringifyElapsedTime(myTimer.ElapsedTime);
                StateHasChanged();
            }
        }
    }

}
