
<div class="timer-container " style="display:@display;">
    <p>@timerName</p>
    <p>@timerKey</p>
</div>

@code {

    private string timerName;
    private string timerKey;
    private string display = "none";

    public void SetTimer(Model.Timer tmr)
    {
        timerName = tmr.TimerDescription;
        timerKey = tmr.TimerKey;
        display = "block";
        StateHasChanged();
    }

}
